[submodule "tools/ro-heat/infdb-package"]
	path = tools/ro-heat/infdb-package
	url = git@gitlab.lrz.de:tum-ens/need/infdb-package.git

[submodule "tools/kwp/infdb-package"]
	path = tools/kwp/infdb-package
	url = git@gitlab.lrz.de:tum-ens/need/infdb-package.git
[submodule "tools/infdb-basedata/infdb-package"]
	path = tools/infdb-basedata/infdb-package
	url = git@gitlab.lrz.de:tum-ens/need/infdb-package.git
