[submodule "tools/pylovo-generation/src/pylovo"]
	path = tools/pylovo-generation/src/pylovo
	url = https://github.com/tum-ens/pylovo.git
[submodule "services/infdb-qwc"]
	path = services/infdb-qwc
	url = https://github.com/tum-ens/infDB-qwc.git
[submodule "services/infdb-opencloud"]
	path = services/infdb-opencloud
	url = https://github.com/tum-ens/infDB-opencloud.git
